body {
    overflow: hidden;
}

#remoteVideo {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

.hoverContent {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.hoverControls {
    margin-left: 225px;
}

#localVideo {
    width: auto;
    height: 150px;
    position: absolute;
}

.glyphicon-spin {
    font-size: xx-large;
    animation: spin 1000ms infinite linear;
}

.modal-sm .modal-header {
    border-bottom: none;
}

.modal-sm .modal-footer {
    border-top: none;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.corin-checkbox {
    visibility: hidden;
}

.corin-checkbox-container {
    position: relative;
    display: inline-block;
}

.corin-checkbox-sub {
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    width: 15px;
    height: 15px;
}

.corin-checkbox-sub.unchecked {
    background: #f2f2f2;
    border: 2px solid #808080;
}

.corin-checkbox-sub.checked {
    background: #0585D6;
    content: "\0252";
    border: 2px solid #0585D6;
}

.chatarea {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.chat {
    margin: 0px;
    padding: 0px;
    width: 250px;
    float: right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    margin-right: 30px;
    box-shadow: 0 1px 5px 0 rgba(50, 50, 50, 0.75);
}

.chathead {
    width: 250px;
    background-color: #1a1a1a;
    height: 40px;
    color: #ffffff;
    padding-top: 13px;
    padding-left: 10px;
    cursor: pointer;
}

.feed {
    padding: 10px;
    background-color: #f2f2f2;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.other, .me {
    position: relative;
    margin-top: 10px;

}

.other .message {
    min-height: 30px;
    margin-left: 30px;
    border: 1px solid #E0E0E0;
    background-color: #D1ED9E;
    padding: 10px;
    color: #1a1a1a;
}

.me .message {
    min-height: 30px;
    max-width: 200px;
    border: 1px solid #E0E0E0;
    background-color: #AEC5D6;
    padding: 10px;
    color: #1a1a1a;
}

.meta {
    padding-top: 5px;
    font-size: 12px;
    color: #808080;
}

.messagebox {
    height: 100%;
    width: 250px;
    border-top: 1px solid #e0e0e0;
    background-color: #ffffff;
}

.messagebox input {
    width: 250px;
    box-sizing: border-box;
    height: 100%;
    border: 0;
    padding: 10px;
    outline: none;
}
